<%= form_for @cycle, html: {:class => "form-horizontal"} do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: 1 %>
  <%= f.hidden_field :date, value: DateTime.now %>
  <div class="form-group">
    <%= f.label :flavor_id %><br>
    <%= f.select(:flavor_id, options_from_collection_for_select(Flavor.all, :id, :name), {}, { class: 'form-control input-md' })  %>
  </div>
  <div class="form-group">
    <%= f.label :size_id %><br>
    <%= f.select(:size_id, options_from_collection_for_select(Size.all, :id, :name), {}, { class: 'form-control input-md' })  %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: "form-control input-md" %>
  </div>
  <div class="form-group">
    <%= f.label :defect_type_id %><br>
    <%= f.select(:defect_types, options_from_collection_for_select(DefectType.all, :id, :name), {}, { multiple: true, class: 'form-control input-md' })  %>
  </div>
  <div class="form-group">
    <%= f.label :cavity_number %><br>
    <%= f.number_field :cavity_number, class: "form-control input-md" %>
  </div>
  <div class="form-group">
    <%= f.label :job_number %><br>
    <%= f.number_field :job_number, class: "form-control input-md" %>
  </div>
  <div class="form-group">
    <%= f.label :shift %><br>
    <%= f.number_field :shift, class: "form-control input-md" %>
  </div>
  <div class="form-group">
    <%= f.label :location_id %><br>
    <%= f.select(:location_id, options_from_collection_for_select(Location.all, :id, :name), {}, { class: 'form-control input-md' })  %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
