<%= form_for @defect_type, html: {:class => "form-horizontal col-md-offset-1 col-md-8"} do |f| %>
  <% if @defect_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@defect_type.errors.count, "error") %> prohibited this defect_type from being saved:</h2>

      <ul>
      <% @defect_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sbuxid %><br>
    <%= f.number_field :sbuxid, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
