<!DOCTYPE html>
<html>
<head>
  <title>Iifa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 10px;" role="navigation">
  		<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
    			<a class="navbar-brand" style="padding: 5px 0px 0px 0px; margin: 0px;" href="#"><%= image_tag "evolution_logo.png" %></a>
    		</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
            		<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
          				<ul class="dropdown-menu" role="menu">
            				<li><a href="#">Logout</a></li>
          				</ul>
        			</li>
      			</ul>
    		</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</nav>
	<div class="row">
	<div class="col-md-3">
			<div class="bs-component">
              <ul class="nav nav-pills nav-stacked">
                <li class="<%= 'active' if params[:controller] == 'complaints' %>"><%= link_to "Dashboard" , controller: "complaints" %></li>
                <li class="<%= 'active' if params[:controller] == 'complaints' %>"><%= link_to "Complaints" , controller: "complaints" %></li>
                <li class="<%= 'active' if params[:controller] == 'cycles' %>"><%= link_to "Cycles" , controller: "cycles"  %></li>
                <li class="<%= 'active' if params[:controller] == 'flavors' %>"><%= link_to "Flavors" , controller: "flavors"  %></li>
                <li class="<%= 'active' if params[:controller] == 'locations' %>"><%= link_to "Locations" , controller: "locations"  %></li>
                <li class="<%= 'active' if params[:controller] == 'defect_types' %>"><%= link_to "Defects" , controller: "defect_types"  %></li>
                <li class="<%= 'active' if params[:controller] == 'sizes' %>"><%= link_to "Sizes" , controller: "sizes" %></li>
              </ul>
            </div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<%= yield %>
			</div>
	</div>
</body>
</html>
