<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Is It Fresh?</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" style="margin-bottom: 10px;" role="navigation">
    	<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding: 5px 0px 0px 0px; margin: 0px;" href="#"><%= image_tag "evolution_logo.png" %></a>
        </div>
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse-always" id="bs-navbar-collapse-1">
    			<ul class="nav navbar-nav navbar-right">
    				<li class="<%= 'active' if params[:controller] == 'dashboard' %>"><%= link_to "Dashboard" , controller: "dashboard" %></li>
            <li class="<%= 'active' if params[:controller] == 'complaints' %>"><%= link_to "Complaints" , controller: "complaints" %></li>
            <li class="<%= 'active' if params[:controller] == 'cycles' %>"><%= link_to "Cycles" , controller: "cycles"  %></li>
            <li class="<%= 'active' if params[:controller] == 'flavors' %>"><%= link_to "Flavors" , controller: "flavors"  %></li>
            <li class="<%= 'active' if params[:controller] == 'locations' %>"><%= link_to "Locations" , controller: "locations"  %></li>
            <li class="<%= 'active' if params[:controller] == 'defect_types' %>"><%= link_to "Defects" , controller: "defect_types"  %></li>
            <li class="<%= 'active' if params[:controller] == 'sizes' %>"><%= link_to "Sizes" , controller: "sizes" %></li>
            <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to "Users" , controller: "users" %></li>
      		</ul>
    		</div><!-- /.navbar-collapse -->
    	</div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="row">
        	<div class="bs-component">
            <ul class="nav nav-pills nav-stacked collapse navbar-collapse">
              <li class="<%= 'active' if params[:controller] == 'dashboard' %>"><%= link_to "Dashboard" , controller: "dashboard" %></li>
              <li class="<%= 'active' if params[:controller] == 'complaints' %>"><%= link_to "Complaints" , controller: "complaints" %></li>
              <li class="<%= 'active' if params[:controller] == 'cycles' %>"><%= link_to "Cycles" , controller: "cycles"  %></li>
              <li class="<%= 'active' if params[:controller] == 'flavors' %>"><%= link_to "Flavors" , controller: "flavors"  %></li>
              <li class="<%= 'active' if params[:controller] == 'locations' %>"><%= link_to "Locations" , controller: "locations"  %></li>
              <li class="<%= 'active' if params[:controller] == 'defect_types' %>"><%= link_to "Defects" , controller: "defect_types"  %></li>
              <li class="<%= 'active' if params[:controller] == 'sizes' %>"><%= link_to "Sizes" , controller: "sizes" %></li>
              <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to "Users" , controller: "users" %></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="col-sm-10">
        	<div class="container-fluid">
        		<div class="row">
        			<%= yield %>
        		</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
